<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Act
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitAct(frmAct)" [formGroup]="frmAct">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <input type="text" class="form-control" formControlName="LongTitle" id="txtLongTitle" />
                        <label for="txtLongTitle">Title</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmAct.controls.LongTitle.errors?.required && isSubmited"> Please enter Title </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Upload PDF : </label>
                        <input type="file" (change)="fileChange($event)" placeholder="Upload file" class="form-control" accept=".pdf">
                        <a href="{{pdfServerPath + actPDFName}}" *ngIf="actPDFName && frmAct.value.ActId" target="_blank"><i class="fa fa-file-pdf-o" style="color:red;margin-right:7px;"></i>{{(actPDFName) ? actPDFName.substr(actPDFName.indexOf('_') + 1) : actPDFName}}</a>
                        <input type="hidden" formControlName="ActPDF" />
                        <span class="help-block has-error" *ngIf="frmAct.controls.ActPDF.errors?.required && isSubmited"> Please Upload PDF file </span>
                    </div>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelAct()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>