<div class="poupu_modules poupu_modules05" id="modalLForm" aria-labelledby="myModalLabel">
    <div class="cascading-modal no-margin" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <label>Please subscribe...</label><br />
                        <a (click)="OpenSubscriptionPage()">
                            <span class="btn default" style="margin-top: 4px;width: 100%;margin-bottom: 0;">Subscribe</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>