<div class="poupu_modules poupu_modules05" id="modalLForm" aria-labelledby="myModalLabel">
    <div class="cascading-modal no-margin" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <label>You will logout in {{countdown}} seconds!</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>