<!--<html>
<head>
    <script src="../../../../assets/js/payment.js"></script>
</head>
<body>
    <div class="subscripation_top_text text-center">
        <div class="subscri-title">Please do not refresh this page...</div>
    </div>
    <form method='post' action="https://securegw-stage.paytm.in/order/process" enctype="multipart/form-data" name='paytm' >
        <input id="MID" type="hidden" />
        <input id="WEBSITE" type="hidden" />
        <input id="ORDER_ID" type="hidden" />
        <input id="CUST_ID" type="hidden" />
        <input id="MOBILE_NO" type="hidden" />
        <input id="EMAIL" type="hidden" />
        <input id="INDUSTRY_TYPE_ID" type="hidden" />
        <input id="CHANNEL_ID" type="hidden" />
        <input id="TXN_AMOUNT" type="hidden" />
        <input id="CALLBACK_URL" type="hidden" />
        <input id="CHECKSUMHASH" type="hidden" />
    </form>
</body>
</html>-->

<div id="paytm_html">

</div>

<!--<div class="subscribe-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="background-color:#f5f5f5;">
                <div class="subscripation_top_text text-center">
                    <div class="subscri-title">Please do not refresh this page...</div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="search_result">
                    <div class="card">
                        <div class="row text-center">
                            <div class="col-lg-12 ">
                                <form action="https://securegw-stage.paytm.in/order/process" method="post" name='frmPaytm' id="frmPaytm" [formGroup]="frmUserPayment">
                                    <input id="MID" type="hidden" formControlName='MID' />
                                    <input id="WEBSITE" type="hidden" formControlName='WEBSITE' />
                                    <input id="ORDER_ID" type="hidden" formControlName='ORDER_ID' />
                                    <input id="CUST_ID" type="hidden" formControlName='CUST_ID' />
                                    <input id="MOBILE_NO" type="hidden" formControlName='MOBILE_NO' />
                                    <input id="EMAIL" type="hidden" formControlName='EMAIL' />
                                    <input id="INDUSTRY_TYPE_ID" type="hidden" formControlName='INDUSTRY_TYPE_ID' />
                                    <input id="CHANNEL_ID" type="hidden" formControlName='CHANNEL_ID' />
                                    <input id="TXN_AMOUNT" type="hidden" formControlName='TXN_AMOUNT' />
                                    <input id="CALLBACK_URL" type="hidden" formControlName='CALLBACK_URL' />
                                    <input id="CHECKSUMHASH" type="hidden" formControlName='CHECKSUMHASH' />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
