<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Author's Write Up
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitAuthorWriteUp(frmAuthorWriteUp)" [formGroup]="frmAuthorWriteUp">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <select class="form-control" formControlName="TopicId" id="txtTopicId">
                            <option *ngFor="let item of topics" [value]="item.Value">{{item.Text}}</option>
                        </select>
                        <label for="txtLongTitle">Topic</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmAuthorWriteUp.controls.TopicId.errors?.required && isSubmited"> Please select Topic </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Upload PDF : </label>
                        <input type="file" (change)="fileChange($event)" placeholder="Upload file" class="form-control" accept=".pdf">
                        <a href="{{pdfServerPath + authorWriteUpPDFName}}" *ngIf="authorWriteUpPDFName && frmAuthorWriteUp.value.AuthorWriteUpId" target="_blank"><i class="fa fa-file-pdf-o" style="color:red;margin-right:7px;"></i>{{(authorWriteUpPDFName) ? authorWriteUpPDFName.substr(authorWriteUpPDFName.indexOf('_') + 1) : authorWriteUpPDFName}}</a>
                        <input type="hidden" formControlName="PDF" />
                        <span class="help-block has-error" *ngIf="frmAuthorWriteUp.controls.PDF.errors?.required && isSubmited"> Please Upload PDF file </span>
                    </div>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelAuthorWriteUp()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>