<div class="inner_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_page_titel">Demystify FEMA</div>
            </div>
        </div>
        <div class="about_us_page">
            <div class="row">
                <div class="col-md-4">
                    <div class="about_us_images"> <img class="img-fluid" src="/assets/images/about_us_img.png" alt="" /> </div>
                </div>
                <div class="col-md-8">
                    <div class="contant_about">
                        <div class="accept_text_block1">
                            <p class="titel">“Learn the gamut of Foreign Exchange Law in India”</p>
                            <p>Demystify FEMA refers to decoding the most complex law in India i.e. Foreign Exchange Management Act (FEMA). A one stop destination for real-time updates on Foreign Exchange Law in India and single platform tool for all the professionals comprising of Company Secretaries, Chartered Accountants and Lawyers which equips them with expert knowledge on the subject; helping them understand the complexities of Foreign Exchange law thereby finding out the right solution for their clients.</p>
                        </div>
                        <div class="accept_text_block2">
                            <div class="key_web">
                                <span>Key Website Features</span>
                                <ul>
                                    <li> <span>FEMA Manual</span>comprising of FEMA Regulations, FEMA Notifications, AP DIR Circulars, Foreign Direct Investment Policy / Circular, DIPP Press Notes, Master Directions and Master Circulars </li>
                                    <li> <span>Compounding Penalty Calculator</span>for calculating penalties for any contraventions/violations committed under Foreign Exchange Law </li>
                                    <li> <span>Compare Features</span>i.e. comparison of FEMA Regulations with Master Directions or Foreign Direct Investment Policy / Circular </li>
                                    <li> <span>Post A Query Feature</span>i.e. Subscribed Users will be able to post their basic queries on matters concerning Foreign Exchange Law in India. </li>
                                </ul>
                            </div>
                        </div>
                        <div class="accept_text_block3">
                            <p>
                                For further details relating to subscription to www.demystifyfema.com and pricing, <br>
                                contact -<a href="mailto:sales@demystifyfema.com">sales@demystifyfema.com</a> or Phone # <a href="tel:9920015356">+91-9920015356</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>