<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>Press Note APDIRCircular Details
        </div>
    </div>
    <div class="portlet-body form label-color">
        <div class="form-body">
            <h4 class="form-section no-margin">Press Note</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-8 no-space text-right"><label><b>Press Note No</b> : </label></div>
                        <div class="col-md-4 no-space"><label class="text-left-margin">{{pressNote.PressNoteNo}}</label></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Press Note Name</b> : </label></div>
                        <div class="col-md-6 no-space"><label class="text-left-margin">{{pressNote.PressNoteName}}</label></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Press Note Date</b> : </label></div>
                        <div class="col-md-6 no-space"><label class="text-left-margin">{{pressNote.PressNoteDate | date:'dd-MM-yyyy'}}</label></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-8 no-space text-right"><label><b>Press Note EfectiveDate</b> : </label></div>
                        <div class="col-md-4 no-space"><label class="text-left-margin">{{pressNote.PressNoteEffectiveDate | date:'dd-MM-yyyy'}}</label></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Year</b> : </label></div>
                        <div class="col-md-6 no-space"><label class="text-left-margin">{{pressNote.Year}}</label></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>PDF</b> : </label></div>
                        <div class="col-md-6 no-space"><a href="{{pdfServerPath + pressNote.PressNotePDF}}" class="text-left-margin" target="_blank">{{(pressNote.PressNotePDF) ? pressNote.PressNotePDF.split('_')[1] : pressNote.PressNotePDF}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Press Note APDIRCircular
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitPressNoteAPDIRCircular(frmPressNoteAPDIRCircular)" [formGroup]="frmPressNoteAPDIRCircular">
            <div class="row" style="margin-bottom:15px;">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <select class="form-control" formControlName="APDIRCircularId" id="txtAPDIRCircularId">
                            <option *ngFor="let item of aPDIRCirculars" [value]="item.APDIRCircularId">{{item.APDIRCircularNo + (item.APDIRCircularDate ? (' (' + (item.APDIRCircularDate | date:'dd-MM-yyyy') + ')') : '')}}</option>
                        </select>
                        <label for="txtAPDIRCircularId">APDIRCircular</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmPressNoteAPDIRCircular.controls.APDIRCircularId.errors?.required && isSubmited"> Please select APDIRCircular </span>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelPressNoteAPDIRCircular()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>