<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--For Local Connection String-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DemystifyFema.Service-20180827104221.mdf;Initial Catalog=aspnet-DemystifyFema.Service-20180827104221;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DemsifyEntities" connectionString="metadata=res://*/Models.DemystifyFema.csdl|res://*/Models.DemystifyFema.ssdl|res://*/Models.DemystifyFema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GVMSERVER\SQLEXPRESS;initial catalog=Demsify;persist security info=True;user id=siteblocker;password=5!teb!0cker;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--For SERVER Connection String-->
    <!--<add name="DefaultConnection" connectionString="Data Source=138.128.162.186\MSSQLSERVER2012;AttachDbFilename=|DataDirectory|\aspnet-DemystifyFema.Service-20180827104221.mdf;Initial Catalog=aspnet-DemystifyFema.Service-20180827104221;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DemsifyEntities" connectionString="metadata=res://*/Models.DemystifyFema.csdl|res://*/Models.DemystifyFema.ssdl|res://*/Models.DemystifyFema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=138.128.162.186\MSSQLSERVER2012;initial catalog=DemystifyFemaDev;persist security info=True;user id=scoutuser;password=Sc@uT123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--For Live Connection String-->
    <add name="DefaultConnection" connectionString="Data Source=138.128.162.186\MSSQLSERVER2012;AttachDbFilename=|DataDirectory|\aspnet-DemystifyFema.Service-20180827104221.mdf;Initial Catalog=aspnet-DemystifyFema.Service-20180827104221;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DemsifyEntities" connectionString="metadata=res://*/Models.DemystifyFema.csdl|res://*/Models.DemystifyFema.ssdl|res://*/Models.DemystifyFema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=138.128.162.186\MSSQLSERVER2012;initial catalog=DemystifyFema;persist security info=True;user id=scoutuser;password=Sc@uT123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    

  </connectionStrings>
  <appSettings>
    <add key="EncryptDecryptKeyForString" value="95162314857936525847" />
    <add key="TokenKey" value="Authorization" />
    <add key="PageSize" value="10" />
    <add key="UserRole" value="User" />
    <add key="AdminRole" value="Admin" />
    <add key="ErrorFilePath" value="~/LogFile" />
    <add key="ErrorFile" value="DemystifyFemaErrorLog.txt" />

    <add key="SpellingAutoCorrectFile" value="~/Assets/SpellingAutoCorrectFile/SpellingAutoCorrectDictionary.txt" />

    <add key="AdminEmailId" value="bharat4gvm@gmail.com" />
    <add key="EmailMailFrom" value="bharat4gvm@gmail.com" />
    <add key="EmailUserName" value="bharat4gvm@gmail.com" />
    <add key="EmailPassword" value="bharat__gvm" />
    <add key="EmailSMTPHost" value="smtp.gmail.com" />
    <add key="EmailSMTPPort" value="587" />
    <add key="EnableSsl" value="true" />

    <!--<add key="SiteUrl" value="http://localhost:4200/"/>-->
    
    <!--<add key="SiteUrl" value="http://beta.demystifyfema.com/" />-->

    <!--<add key="SiteUrl" value="http://demystifyfemaweb/"/>-->
    
    <add key="SiteUrl" value="http://www.demystifyfema.com/" />
    
    <add key="SiteName" value="Demystify Fema" />

    <add key="EmailTemplatePath" value="~/Assets/EmailTemplate/" />

    <add key="MainEmailTemplate" value="MainTemplate.Html" />
    <add key="VerifiedAccountEmailTemplate" value="VerifiedAccount.Html" />
    <add key="WelcomeForUserEmailTemplate" value="WelcomeForUser.Html" />
    <add key="ContactUsForUserEmailTemplate" value="ContactUsForUser.Html" />

    <add key="PostQueryForUserEmailTemplate" value="PostQueryForUser.Html" />
    <add key="PostQueryReplyForUserEmailTemplate" value="PostQueryReplyForUser.Html" />
    <add key="PostQueryReplyForAdminEmailTemplate" value="PostQueryReplyForAdmin.Html" />
    <add key="SupportTicketForUserEmailTemplate" value="SupportTicketForUser.Html" />
    <add key="SupportTicketReplyForUserEmailTemplate" value="SupportTicketReplyForUser.Html" />
    <add key="SupportTicketReplyForAdminEmailTemplate" value="SupportTicketReplyForAdmin.Html" />


    <add key="SubscriptionAddEmailTemplateForUser" value="SubscriptionAddForUser.Html" />
    <add key="SubscriptionAddEmailTemplateForAdmin" value="SubscriptionAddForAdmin.Html" />
    <add key="SubscriptionUpdateEmailTemplateForUser" value="SubscriptionUpdateForUser.Html" />
    <add key="UnsubscriptionEmailTemplateForUser" value="UnsubscriptionForUser.Html" />

    <add key="ActPDFPath" value="~/Assets/ActPDF" />
    <add key="NotificationPDFPath" value="~/Assets/NotificationPDF" />
    <add key="GSRPDFPath" value="~/Assets/GSRPDF" />
    <add key="APDIRCircularPDFPath" value="~/Assets/APDIRCircularPDF" />
    <add key="PressNotePDFPath" value="~/Assets/PressNotePDF" />
    <add key="FDICircularPDFPath" value="~/Assets/FDICircularPDF" />
    <add key="MasterCircularPDFPath" value="~/Assets/MasterCircularPDF" />
    <add key="FAQPDFPath" value="~/Assets/FAQPDF" />
    <add key="MasterDirectionPDFPath" value="~/Assets/MasterDirectionPDF" />
    <add key="NICCodePDFPath" value="~/Assets/NICCodePDF" />
    <add key="ManualPDFPath" value="~/Assets/ManualPDF" />
    <add key="FetersCodePDFPath" value="~/Assets/FetersCodePDF" />
    <add key="FIPBReviewPDFPath" value="~/Assets/FIPBReviewPDF" />
    <add key="DIPPClarificationPDFPath" value="~/Assets/DIPPClarificationPDF" />
    <add key="FIPBPressReleaseCasePDFPath" value="~/Assets/FIPBPressReleaseCasePDF" />
    <add key="FormSummaryDocumentationDetailWordPath" value="~/Assets/FormSummaryDocumentationDetail/Word" />
    <add key="FormSummaryDocumentationDetailExcelPath" value="~/Assets/FormSummaryDocumentationDetail/Excel" />
    <add key="FormSummaryDocumentationDetailPDFPath" value="~/Assets/FormSummaryDocumentationDetail/PDF" />
    <add key="RBILiaisonOfficeExcelPath" value="~/Assets/RBILiaisonOfficeExcel" />
    <add key="RBICompoundingOrderPDFPath" value="~/Assets/RBICompoundingOrderPDF" />
    <add key="RBIDataExcelPath" value="~/Assets/RBIDataExcel" />
    <add key="RBIDataDetailExcelPath" value="~/Assets/RBIDataDetail/Excel" />
    <add key="RBIDataDetailPDFPath" value="~/Assets/RBIDataDetail/PDF" />
    <add key="AuthorWriteUpPDFPath" value="~/Assets/AuthorWriteUpPDF" />
    <add key="AuthorWriteUpDetailPDFPath" value="~/Assets/AuthorWriteUpDetailPDF" />
    <add key="GSRNotificationPDFPath" value="~/Assets/GSRNotificationPDF" />

    <add key="StartAPDIRCircularDate" value="07/01/1950" />
    <add key="EndAPDIRCircularDate" value="06/30/2050" />
    <add key="APDIRCircularDateFormat" value="dd-MM-yyyy" />

    <add key="StartYear" value="1950" />
    <add key="EndYear" value="2050" />
    
    <!-- Paytm Credentials -->
    <add key="PaytmMerchantId" value="gNgGqX79582965764461" />
    <add key="PaytmMerchantKey" value="XkLE%!5Y1ihx0pbt" />
    <add key="PaytmOrderStatusUrl" value="https://securegw-stage.paytm.in/order/status" />
    <!--<add key="PaytmMerchantKey" value="6sPKxIcxr3kajB1H" />
     <add key="PaytmOrderStatusUrl" value="https://securegw.paytm.in/order/status" />
    -->

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="2097152" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- ssl code for server -->
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>