<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Master Circular
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitMasterCircular(frmMasterCircular)" [formGroup]="frmMasterCircular">
            <div class="row" style="margin-bottom:15px;">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <input type="text" class="form-control" formControlName="MasterCircularName" id="txtMasterCircularName" />
                        <label for="txtMasterCircularName">Master Circular Name</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmMasterCircular.controls.MasterCircularName.errors?.required && isSubmited"> Please enter Master Circular Name </span>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelMasterCircular()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>