<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Rules
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitRules(frmRules)" [formGroup]="frmRules">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <select class="form-control" formControlName="Year" id="txtYear">
                            <option *ngFor="let item of rulesYears" [value]="item.YearId">{{item.YearName}}</option>
                        </select>
                        <label for="txtYear">Year</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmRules.controls.Year.errors?.required && isSubmited"> Please select Year </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <input type="text" class="form-control" formControlName="RulesNo" id="txtRulesNo" />
                        <label for="txtRulesNo">Rules No</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmRules.controls.RulesNo.errors?.required && isSubmited"> Please enter Rules No </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <input type="text" class="form-control" formControlName="RulesName" id="txtRulesName" />
                        <label for="txtRulesName">Rules Name</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmRules.controls.RulesName.errors?.required && isSubmited"> Please enter Rules Name </span>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <label for="txtPublicationDate" class="no-margin">Publication Date</label>
                        <input class="form-control" placeholder="dd-mm-yyyy" [minDate]="minDate" name="dp" formControlName="PublicationDate" [value]="(frmRules.controls.PublicationDate.value) ? (frmRules.controls.PublicationDate.value.day + '-' + frmRules.controls.PublicationDate.value.month + '-' + frmRules.controls.PublicationDate.value.year) : frmRules.controls.PublicationDate.value" readonly="readonly" #d="ngbDatepicker" ngbDatepicker>
                        <div class="input-group-btn" style="vertical-align: bottom !important;">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                <img src="../../../../assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                            </button>
                        </div>
                        <div class="input-group-btn" style="padding: 0 5px !important; vertical-align: bottom !important;">
                            <span class="input-group-btn">
                                <button class="btn blue bold" type="button" (click)="ClearDate()"><i class="fa fa-remove"></i></button>
                            </span>
                        </div>
                    </div>
                    <span class="help-block has-error" *ngIf="frmRules.controls.PublicationDate.errors?.required && isSubmited"> Please enter Publication Date </span>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelRules()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>