<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} FIPB Review
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitFIPBReview(frmFIPBReview)" [formGroup]="frmFIPBReview">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <input type="text" class="form-control" formControlName="Name" id="txtName" />
                        <label for="txtName">Name</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmFIPBReview.controls.Name.errors?.required && isSubmited"> Please enter Name </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Upload PDF : </label>
                        <input type="file" (change)="fileChange($event)" placeholder="Upload file" class="form-control" accept=".pdf">
                        <a href="{{pdfServerPath + fIPBReviewPDFName}}" *ngIf="fIPBReviewPDFName && frmFIPBReview.value.FIPBReviewId" target="_blank"><i class="fa fa-file-pdf-o" style="color:red;margin-right:7px;"></i>{{(fIPBReviewPDFName) ? fIPBReviewPDFName.substr(fIPBReviewPDFName.indexOf('_') + 1) : fIPBReviewPDFName}}</a>
                        <input type="hidden" formControlName="PDF" />
                        <span class="help-block has-error" *ngIf="frmFIPBReview.controls.PDF.errors?.required && isSubmited"> Please Upload PDF file </span>
                    </div>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelFIPBReview()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>