<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>Author's FAQ Details
        </div>
    </div>
    <div class="portlet-body form label-color">
        <div class="form-body">
            <h4 class="form-section no-margin">Author's FAQ</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Topic Name</b> : </label></div>
                        <div class="col-md-6 no-space"><label class="text-left-margin">{{authorFAQ.TopicName}}</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Author's FAQ Detail
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitAuthorFAQDetail(frmAuthorFAQDetail)" [formGroup]="frmAuthorFAQDetail">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <select class="form-control" formControlName="SubTopicId" id="txtSubTopicId">
                            <option *ngFor="let item of subTopics" [value]="item.Value">{{item.Text}}</option>
                        </select>
                        <label for="txtLongTitle">SubTopic</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmAuthorFAQDetail.controls.SubTopicId.errors?.required && isSubmited"> Please select SubTopic </span>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelAuthorFAQDetail()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>