<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} DIPP Clarification
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitDIPPClarification(frmDIPPClarification)" [formGroup]="frmDIPPClarification">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <input type="text" class="form-control" formControlName="ClarificationTopic" id="txtClarificationTopic" />
                        <label for="txtClarificationTopic">Clarification Topic</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmDIPPClarification.controls.ClarificationTopic.errors?.required && isSubmited"> Please enter Clarification Topic </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Upload PDF : </label>
                        <input type="file" (change)="fileChange($event)" placeholder="Upload file" class="form-control" accept=".pdf">
                        <a href="{{pdfServerPath + dIPPClarificationPDFName}}" *ngIf="dIPPClarificationPDFName && frmDIPPClarification.value.DIPPClarificationId" target="_blank"><i class="fa fa-file-pdf-o" style="color:red;margin-right:7px;"></i>{{(dIPPClarificationPDFName) ? dIPPClarificationPDFName.substr(dIPPClarificationPDFName.indexOf('_') + 1) : dIPPClarificationPDFName}}</a>
                        <input type="hidden" formControlName="PDF" />
                        <span class="help-block has-error" *ngIf="frmDIPPClarification.controls.PDF.errors?.required && isSubmited"> Please Upload PDF file </span>
                    </div>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelDIPPClarification()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>