<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>Definition Details
        </div>
    </div>
    <div class="portlet-body form label-color">
        <div class="form-body">
            <h4 class="form-section no-margin">Act</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-4 no-space text-right"><label><b>Title</b> : </label></div>
                        <div class="col-md-8 no-space"><label class="text-left-margin">{{actName.LongTitle}}</label></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Act PDF</b> : </label></div>
                        <div class="col-md-6 no-space"><a href="{{pdfServerPath + actName.ActPDF}}" *ngIf="actName.ActPDF" target="_blank" class="text-left-margin"><i class="fa fa-file-pdf-o" style="color:red;margin-right:7px;"></i>{{(actName.ActPDF) ? actName.ActPDF.split('_')[1] : actName.ActPDF}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Definition
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitAllDefinition(frmAllDefinition)" [formGroup]="frmAllDefinition">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input  margin-bottom">
                        <input type="text" class="form-control" formControlName="DefinitionName" id="txtDefinitionName" />
                        <label for="txtDefinitionName">Definition Name</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmAllDefinition.controls.DefinitionName.errors?.required && isSubmited"> Please enter Definition Name </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input margin-bottom">
                        <textarea class="form-control" formControlName="AuthorNote" id="txtAuthorNote"></textarea>
                        <label for="txtAuthorNote">Author Note</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-md-line-input no-margin">
                        <label for="txtDefinitionContent">Definition Content</label>
                        <ckeditor formControlName="FullDInsertion"
                                  [readonly]="false"
                                  debounce="500">
                        </ckeditor>
                    </div>
                    <span class="help-block has-error" *ngIf="frmAllDefinition.controls.FullDInsertion.errors?.required && isSubmited"> Please enter Definition Content </span>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelAllDefinition()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>