<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>Master Direction SubIndex Details
        </div>
    </div>
    <div class="portlet-body form label-color">
        <div class="form-body">
            <h4 class="form-section no-margin">Master Direction</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-4 no-space text-right"><label><b>Master Direction Name</b> : </label></div>
                        <div class="col-md-8 no-space"><label class="text-left-margin">{{masterDirection.MasterDirectionName}}</label></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Year</b> : </label></div>
                        <div class="col-md-6 no-space"><label class="text-left-margin">{{masterDirection.Year}}</label></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>PDF</b> : </label></div>
                        <div class="col-md-6 no-space"><a href="{{masterDirectionPDFPath + masterDirection.PDF}}" class="text-left-margin" target="_blank">{{(masterDirection.PDF) ? masterDirection.PDF.split('_')[1] : masterDirection.PDF}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body form label-color">
        <div class="form-body">
            <h4 class="form-section no-margin">Master Direction Chapter</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-4 no-space text-right"><label><b>Chapter</b> : </label></div>
                        <div class="col-md-8 no-space"><label class="text-left-margin">{{masterDirectionChapter.Chapter}}</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body form label-color">
        <div class="form-body">
            <h4 class="form-section no-margin">Master Direction Index</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Index No.</b> : </label></div>
                        <div class="col-md-6 no-space"><label class="text-left-margin">{{masterDirectionIndex.IndexNo}}</label></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-4 no-space text-right"><label><b>Index Name</b> : </label></div>
                        <div class="col-md-8 no-space"><label class="text-left-margin">{{masterDirectionIndex.IndexName}}</label></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-6 no-space text-right"><label><b>Index Content</b> : </label></div>
                        <div class="col-md-6 no-space"><a class="text-left-margin" *ngIf="masterDirectionIndex.IndexContent" (click)="ShowContent('Index Content', masterDirectionIndex.IndexContent)">View Content</a></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group  form-md-line-input">
                        <div class="col-md-4 no-space text-right"><label><b>Sort Id</b> : </label></div>
                        <div class="col-md-8 no-space"><label class="text-left-margin">{{masterDirectionIndex.SortId}}</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box green">
    <div class="portlet-title col-md-12">
        <div class="caption col-md-6">
            <i class="fa fa-tasks"></i>{{addUpdateText}} Master Direction SubIndex
        </div>
    </div>
    <div class="portlet-body">
        <form novalidate (ngSubmit)="OnSubmitMasterDirectionSubIndex(frmMasterDirectionSubIndex)" [formGroup]="frmMasterDirectionSubIndex">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-md-line-input no-margin">
                        <select class="form-control" formControlName="SaveAfterSubIndexId" id="txtSaveAfterSubIndexId">
                            <option *ngFor="let item of masterDirectionSubIndexes" [value]="item.MasterDirectionSubIndexId">{{item.SubIndexName}}</option>
                        </select>
                        <label for="txtSaveAfterSubIndexId">Save After</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input  margin-bottom">
                        <input type="text" class="form-control" formControlName="SubIndexNo" id="txtSubIndexNo" />
                        <label for="txtSubIndexNo">SubIndex No.</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmMasterDirectionSubIndex.controls.SubIndexNo.errors?.required && isSubmited"> Please enter SubIndex No. </span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input  margin-bottom">
                        <input type="text" class="form-control" formControlName="SubIndexName" id="txtSubIndexName" />
                        <label for="txtSubIndexName">SubIndex Name</label>
                    </div>
                    <span class="help-block has-error" *ngIf="frmMasterDirectionSubIndex.controls.SubIndexName.errors?.required && isSubmited"> Please enter SubIndex Name </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-md-line-input no-margin">
                        <label for="txtIndexContent">SubIndex Content</label>
                        <ckeditor formControlName="SubIndexContent"
                                  [readonly]="false"
                                  debounce="500">
                        </ckeditor>
                    </div>
                    <span class="help-block has-error" *ngIf="frmMasterDirectionSubIndex.controls.SubIndexContent.errors?.required && isSubmited"> Please enter SubIndex Content </span>
                </div>
            </div>

            <div class="form-actions text-right btn-outer-background no-space-right form-actions-bottom-padding row-top-margin">
                <a (click)="CancelMasterDirectionSubIndex()" class="btn btn-default">Back To List</a>
                <input class="btn btn-primary btn-cancel-margin" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>